.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 200ms linear, visibility 200ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 200ms linear;

  min-width: 528px;
  min-height: 581px;
  /* max-height: 100vh; */
  padding: 40px;

  background-color: $primary-white-color;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
