.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 448px;
}
.modal-title {
  margin: 0 0 12px;

  font-size: 20px;
  line-height: 1.17;
  text-align: center;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  & label {
    margin: 0 0 4px;
    color: $second-text-color;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
  & input {
    width: 100%;
    margin: 0;
    padding: 12px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border: 1px solid $accent-color;
      outline: none;
    }
  }
}
.form-comment {
  margin-bottom: 20px;

  & textarea {
    width: 448px;
    height: 120px;
    resize: none;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border: 1px solid $accent-color;
      outline: none;
    }
    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
    }
  }
}
.form-input {
  display: flex;
  position: relative;
  &__icon {
    position: absolute;
    width: 18px;
    height: 18px;
    margin-left: 12px;
    top: 50%;
    transform: translateY(-50%);

    fill: $primary-text-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form-field input:focus + & {
      fill: $accent-color;
    }
  }
}
.license {
  margin: 0 0 30px;
}
.license-text {
  display: block;
  color: $second-text-color;
  line-height: 1.71;
  text-align: center;
  &::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 3px;
    width: 16px;
    height: 15px;
    margin-right: 7px;

    border: 2px solid $primary-text-color;
    border-radius: 2px;

    .license input:checked + & {
      background-color: $accent-color;
      background-image: url(../images/vector.svg);
      background-repeat: no-repeat;
      background-position: center;
      border: none;
    }
  }
}

/* ---при фокусі залишено outline за замовчуванням */
.contract-license {
  color: $accent-color;
  text-decoration: underline;
}
.form-btn {
  margin: 0 auto;
  width: 200px;
  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
