html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.2;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}
.title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
