.container {
  position: relative;
  width: 480px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
  //   outline: 2px solid rgb(4, 238, 43);

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
}
