$primary-text-color: #212121;
$second-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #fff;
$second-bg-color: #f5f4fa;
$accent-bg-color: #2f303a;
$color-icon: #afb1b8;

$primary-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;

@mixin flex($justify-content) {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
