$primary-text-color: #212121;
$second-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #fff;
$second-bg-color: #f5f4fa;
$accent-bg-color: #2f303a;
$color-icon: #afb1b8;

$primary-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;

$hero-bg-gradient: linear-gradient(
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
);
