.features {
  @include desktop {
    padding-bottom: 47px;
  }
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.features-item {
  width: 100%;

  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
  &__icon {
    width: 100%;
    height: 120px;
    padding: 0;
    margin: 0 0 30px;
    @include flex(center);
    background-color: $second-bg-color;
    border-radius: 4px;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;

    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;

    @include tablet {
      text-align: start;
    }
  }
  &__text {
    margin-top: 0;
    margin-bottom: 0;
    color: $second-text-color;
    line-height: 1.71;
  }
}
