.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}
.button {
  padding: 6px 22px;

  background-color: $second-bg-color;
  color: $primary-text-color;
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.63;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:first-child {
    padding: 6px 25px;
  }
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    outline: none;
  }
}
.works {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  column-gap: 30px;

  &-item {
    width: 370px;
  }
  &-img {
    position: relative;
    overflow: hidden;
  }
  &-card {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      outline: none;
    }
  }
  &-text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);

    width: 100%;
    margin: 0;
    padding: 63px 24px;

    background-color: rgba(33, 150, 243, 0.9);
    color: $primary-white-color;
    font-size: 18px;
    line-height: 1.56;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .works-card:hover &,
    .works-card:focus & {
      transform: translateY(0);
      outline: none;
    }
  }
  &-desc {
    padding: 20px 24px;
    margin: 0;
    border: 1px solid #eeeeee;

    &__title {
      margin-top: 0;
      margin-bottom: 4px;
      color: $primary-text-color;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
    }
    &__type {
      margin: 0;
      color: $second-text-color;
      font-size: 16px;
      line-height: 1.88;
    }
  }
}
