.team {
  background-color: $second-bg-color;
  &-list {
    display: flex;
    gap: 30px;
  }
}
.team-card {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  /* width: calc((100%-90px) / 4); */

  background-color: $primary-white-color;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  & > img {
    margin-bottom: 30px;
  }
  &__member {
    margin: 0 auto 10px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
  }
  &__desc {
    margin: 0 auto 16px;
    color: $second-text-color;
    font-size: 16px;
    text-align: center;
  }
}
